 <nav class="navbar navbar-default">
      <div class="title">Wild Kards</div>
    <div class="container-fluid">
      <div class="navbar-header">
      </div>
    </div>
  </nav>

<h1>Search Results</h1>

<h2>Author: {{author}}</h2>

<ul>
    {{#each Quotes}}
    {{/each}}
</ul>