form.signup,
form.login {
  margin-top: 50px;
}

button.submit {
  width: 100%;
  background-color: rgb(136, 160, 160);
  border: none;
}

button.submit:hover {
  background-color: rgb(100, 117, 148);
}

form#cms {
  margin-top: 20px;
}

#cms textarea {
  resize: none;
}

.card-header button.delete,
button.edit {
  float: right;
  margin: 5px;
}

.hidden {
  display: none;
}

#author-name {
  width: 100%;
  height: 35px;
  margin-top: 5px;
}


.jumbotron {
 background-color: blue; 
 color: white
 }

 .red-box {
  float: left;
  width: 400px;
  height: 50px;
  margin: 10px 10px 10px 0;
  padding: 10px;
  color: #ffffff;
  font-size: xx-large; 
  background-color: #880000; }

  .cmtBox {
    border-radius: 14px;
    background: #56c0da;
    box-shadow:  10px 10px 20px rgb(136, 160, 160), 
                 -10px -10px 20px rgb(100, 117, 148);
  }

