form.signup,
form.login {
  margin-top: 50px;
}

.jumbotron {
 background-color: blue; 
 color: white
 }

 .red-box {
  float: left;
  width: 400px;
  height: 50px;
  margin: 10px 10px 10px 0;
  padding: 10px;
  color: #ffffff;
  font-size: xx-large; 
  background-color: #880000; }
